.footer-row-1 {
    display: grid;
    grid-template-areas: "col-1 col-2 col-3";
    grid-template-columns: 1fr auto auto;

    align-items: center;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        grid-template-areas:
            "col-1"
            "col-2"
            "col-3";
        grid-template-columns: 1fr;
    }

    >.col-1 {
        grid-area: col-1;
    }

    >.col-2 {
        grid-area: col-2;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            justify-self: center;
        }
    }

    >.col-3 {
        grid-area: col-3;
        padding-left: 25px;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            justify-self: center;
            padding-left: 0;
        }
    }
}

.footer-row-2 {
    display: grid;
    justify-content: center;
}

.footer-row-3 {}

.footer-menu {
    display: flex;
    flex-direction: row;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        justify-content: center;
        flex-wrap: wrap;
    }

    >.item {
        margin: 0 10px 0 10px;

        &:first-child {
            margin: 0 10px 0 0;
        }

        &:last-child {
            margin: 0 0 0 10px;
        }

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            margin: 10px;

            &:first-child {
                margin: 10px;
            }

            &:last-child {
                margin: 10px;
            }
        }

        >.link {
            display: block;
            text-decoration: none;

            font-size: 14px;
            font-weight: 600;
            color: #000000;

            &:hover {
                color: #1e73be;
            }
        }
    }

    .active {

        >.link {
            color: #1e73be;
        }
    }
}

.footer-socials {
    display: flex;
    flex-direction: row;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        padding-top: 25px;
    }

    >.item {
        margin: 0 5px 0 5px;

        &:first-child {
            margin: 0 5px 0 0;
        }

        &:last-child {
            margin: 0 0 0 5px;
        }

        >.link {
            display: block;
            text-decoration: none;

            .i {
                display: block;
                width: 35px;
                height: auto;

                &:hover {
                    filter: invert(0.39) sepia(1) saturate(13.7) hue-rotate(144deg) brightness(1);
                }
            }
        }
    }
}

.footer-phones {
    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        padding-top: 25px;
    }

    >.item {

        >.link {
            display: block;
            text-decoration: none;

            color: #0664a4;
            font-size: 16px;

            &:hover {
                color: #0977c0;
            }
        }
    }
}

.footer-copyright {
    padding: 25px 0;

    border-top: 1px solid #eaeaea;
    text-align: center;

    color: #535353;
    font-size: 12px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    @include media-breakpoint-only(xs) {
        font-size: 10px;
    }

    .domain {}

    .years {}

    .rights {}
}