.footer-languages {
    padding: 25px 0;

    display: flex;
    flex-direction: row;

    >.item {
        margin: 0 10px 0 10px;

        >.link {
            text-decoration: none;

            &:hover {

                .language-item {

                    >.c {


                        img {}
                    }

                    >.mark {
                        background-color: #1e73be;
                    }
                }
            }
        }

        >.active {

            .language-item {

                >.c {


                    img {}
                }

                >.mark {
                    background-color: #1e73be;
                }
            }
        }
    }
}

.header-languages {
    padding: 25px 0;

    display: flex;
    flex-direction: row;

    >.item {
        margin: 0 10px 0 10px;

        >.link {
            text-decoration: none;

            &:hover {

                .language-item {

                    >.c {


                        img {}
                    }

                    >.mark {
                        background-color: #1e73be;
                    }
                }
            }
        }

        >.active {

            .language-item {

                >.c {


                    img {}
                }

                >.mark {
                    background-color: #1e73be;
                }
            }
        }
    }
}

.language-item {

    >.c {
        padding-bottom: 5px;

        img {
            display: block;
            width: 40px;
            height: auto;
        }
    }

    >.mark {
        height: 3px;
    }
}