.article {
    padding: 25px 0;

    width: 80%;
    margin: 0 auto;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        width: auto;
    }

    h1 {
        font-size: 22px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 25px 0 10px;
    }

    p {
        margin: 15px 0;
        font-size: 16px;
    }

    ul,
    ol {
        margin: 15px 0;

        li {
            margin: 5px 0 5px 0;

            &:first-child {
                margin: 0 0 5px 0;
            }

            &:last-child {
                margin: 5px 0 0 0;
            }

            &:only-child {
                margin: 0;
            }
        }
    }

    ul,
    ol {
        padding: 0 0 0 15px;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    dl {
        margin: 15px 0;
        padding: 0;

        dt {
            margin: 0;
            margin: 2px 0 2px 0;

            &:first-child {
                margin: 0 0 2px 0;
            }

            &:last-child {
                margin: 2px 0 0 0;
            }

            &:only-child {
                margin: 0;
            }
        }

        dd {
            margin: 0 0 10px 0;
            padding: 0 0 0 15px;
        }
    }

    a {
        margin: 0 3px;
        font-size: 14px;
        color: #42b8d4;
        border-bottom: 1px solid #42b8d4;

        &:hover {
            color: #3999b1;
            border-bottom: 1px solid #3999b1;
        }
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto !important;

    }
}