.b-contact-form {
    padding-top: 25px;
    padding-bottom: 25px;

    width: 75%;
    margin: 0 auto;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        width: auto;
    }

    .c-1 {

        h3 {
            padding-bottom: 10px;
            font-size: 22px;
            color: #545454;
        }
    }

    .c-2 {

        height: 27px
    }

    .c-3 {
        padding-top: 10px;
    }
}

.contact-form {

    .field {
        margin: 5px 0 5px 0;

        &:first-child {
            margin: 0 0 5px 0;
        }

        &:last-child {
            margin: 15px 0 0 0;
        }

        .btn {
            display: block;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;

            width: 100%;
            height: 38px;

            background: #1e73be;
            opacity: .9;
            color: #ffffff;

            text-transform: uppercase;

            cursor: pointer;

            &:focus {}

            &:active {
                color: none;
                outline: none;
            }
        }
    }
}

.contact-form--field {

    .label {
        min-height: 15px;

        label {
            font-size: 12px;
            letter-spacing: 1px;
            color: #424242;
        }
    }

    .input {

        input {
            display: block;

            width: 100%;
            height: 38px;

            margin: 0;
            padding: 0 5px;

            outline: none;
            box-sizing: border-box;

            border: 1px solid #cccccc;
            color: #424242;

            font-size: 15px;

            &::placeholder {
                color: #707070;
                font-size: 15px;
            }

            &:focus {
                // outline: 1px solid #003d4d;
                border: 1px solid #1e73be;
            }

            &:active {
                color: none;
                outline: none;
            }
        }
    }

    .textarea {

        textarea {
            display: block;
            width: 100%;

            margin: 0;
            padding: 5px;

            outline: none;
            resize: none;
            box-sizing: border-box;

            border: 1px solid #cccccc;
            color: #424242;

            font-size: 14px;

            &::placeholder {
                color: #707070;
                font-size: 14px;
            }

            &:focus {
                // outline: 1px solid #42b8d4;
                border: 1px solid #1e73be;
            }

            &:active {
                color: none;
                outline: none;
            }
        }
    }

    .e {

        input {
            border: 1px solid #990000;
        }

        textarea {
            border: 1px solid #990000;
        }
    }

    .error-message {
        min-height: 15px;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;

        font-size: 11px;
        text-align: right;
        color: #990000;
    }
}

.cf-success {

    .container {}
}

.cf-success--message {
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #1e73be;
    color: #1e73be;

    font-size: 11px;
    text-transform: uppercase;
    line-height: normal;
}