.gl {
    margin: 25px 0;

    .c {
        display: block;
        width: 20%;

        @include media-breakpoint-only(lg) {
            width: 20%;
        }

        @include media-breakpoint-only(md) {
            width: 25%;
        }

        @include media-breakpoint-only(sm) {
            width: 50%;
        }

        @include media-breakpoint-only(xs) {
            width: 100%;
        }

        .link {
            display: block;
        }
    }
}

.gl-item {
    margin: 2px;

    .img {
        display: block;
        max-width: 100%;
    }
}