.slideshow {
    display: flex;
    flex-direction: row;
    gap: 2px;

    background-color: #ffffff;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }

    >.c {
        width: 33.333%;
        height: 300px;
        transition: width .5s;

        overflow: hidden;
        position: relative;

        &:hover {
            width: 50%;
        }

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            width: auto;
            height: auto;

            // pointer-events: none;

            &:hover {
                width: unset;
            }
        }

        >.img {
            width: 800px;
            height: auto;

            display: block;

            position: absolute;
            top: 0;
            left: 50%;

            transform: translateX(-50%);

            // @include media-breakpoint-only(xxl) {}

            // @include media-breakpoint-only(xl) {}

            // @include media-breakpoint-only(lg) {}

            // @include media-breakpoint-only(md) {}

            // @include media-breakpoint-only(sm) {}

            // @include media-breakpoint-only(xs) {}

            @include media-breakpoint-down(lg) {
                display: block;

                max-width: 100%;

                width: auto;
                height: auto;
                position: static;
                transform: none;
            }
        }
    }
}

.slideshow--link {
    display: block;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:hover {

        >.overlay {
            background-color: #00000000;
        }
    }

    >.overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background-color: #00000033;
        transition: background-color .5s;

        >.title {
            padding: 25px 0;

            text-align: center;

            color: #ffffff;
            font-size: 23px;

            text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
            background: linear-gradient(to right, #00000000 15%, #00000073 95%);
        }
    }
}