.slideshow {
    display: flex;
    flex-direction: row;

    background-color: #555555;
    overflow: hidden;

    @include media-breakpoint-only(xxl) {}

    @include media-breakpoint-only(xl) {}

    @include media-breakpoint-only(lg) {}

    @include media-breakpoint-only(md) {}

    @include media-breakpoint-only(sm) {}

    @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }

    >.c {
        width: 40%;

        transition: width .35s;
        transform: skewX(-10deg);

        position: relative;

        &:hover {
            width: 50%;
        }

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {}

        @include media-breakpoint-only(sm) {}

        @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            width: auto;
            height: auto;

            transform: none;

            &:hover {
                width: unset;
            }
        }
    }

    .left {
        margin-left: -50px;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {}

        @include media-breakpoint-only(sm) {}

        @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            margin-left: 0;
        }
    }

    .center {
        border-right: 1px solid #555555;
        border-left: 1px solid #555555;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {}

        @include media-breakpoint-only(sm) {}

        @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            border-right: none;
            border-left: none;

            border-top: 4px solid #555555;
            border-bottom: 4px solid #555555;
        }
    }

    .right {
        margin-right: -50px;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {}

        @include media-breakpoint-only(sm) {}

        @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            margin-right: 0;
        }
    }
}

.slideshow--inner {
    position: relative;
    overflow: hidden;

    height: 350px;

    @include media-breakpoint-only(xxl) {}

    @include media-breakpoint-only(xl) {}

    @include media-breakpoint-only(lg) {}

    @include media-breakpoint-only(md) {}

    @include media-breakpoint-only(sm) {}

    @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        height: auto;
    }

    >.img {
        width: 1000px;
        height: auto;

        display: block;

        position: absolute;
        top: 0;
        left: 50%;

        transform: translateX(-50%) skewX(10deg);

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {}

        @include media-breakpoint-only(sm) {}

        @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            display: block;

            max-width: 100%;

            width: auto;
            height: auto;
            position: static;
            transform: none;
        }
    }
}

.slideshow--link {
    display: block;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:hover {

        >.overlay {
            background-color: #00000000;
        }
    }

    >.overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background-color: #00000033;
        transition: background-color .5s;

        >.title {
            padding: 25px 0;

            text-align: center;

            color: #ffffff;
            font-size: 23px;

            text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
            background: linear-gradient(to right, #00000000 15%, #00000073 95%);
        }
    }
}