.section-partners {
    padding: 25px 0;
    margin: 25px 0;
}

.partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
    }

    .c {}
}

.partner {
    width: auto;
    height: 100px;

    border: 4px solid #f9f9f9;
    transition: all .2s ease-out;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:hover {
        border: 4px solid #e0e0e0;
    }

    i {
        display: block;
    }
}