.section-projects {
    margin: 25px 0;
    padding: 25px 0;

    display: grid;
    grid-template-columns: 50% 50%;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
    }

    >.col-1 {
        padding-right: 30px;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            padding-right: 0;
        }
    }

    >.col-2 {
        justify-self: end;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            justify-self: center;
        }
    }
}

.section-our-projects {
    background: linear-gradient(to right, rgba(53, 53, 53, 0.3) 0%, rgba(53, 53, 53, 0.3) 100%);
}

.section-projects-article {
    text-align: center;

    p {
        font-size: 18px;
        line-height: 32px;
        color: #444444;
    }
}

.section-projects-col-2 {
    text-align: center;

    .row-1 {

        .counter {
            font-size: 90px;
            color: #a07730;
        }
    }

    .row-2 {
        padding-top: 25px;

        .title {
            font-size: 42px;
            color: #727272;
            text-transform: uppercase;
        }
    }
}