body {
    font-family: "League Spartan", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.website {
    max-width: 1920px;
    min-width: 320px;
    min-height: 100vh;

    margin: 0 auto;

    display: grid;

    // sticky footer use css grid
    // .header-fixed (position:fixed)
    // .content: 1fr
    // .footer: auto
    grid-template-rows: 1fr auto;
}

.header-fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;

    >.container {
        margin: 0 auto;
        max-width: 1920px;
        min-width: 320px;
    }
}

.header {
    background-color: #ffffff;

    >.container {
        margin: 0 auto;

        @include media-breakpoint-only(xxl) {
            max-width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            max-width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            max-width: 960px;
        }

        @include media-breakpoint-only(md) {
            max-width: 720px;
        }

        @include media-breakpoint-only(sm) {
            max-width: auto;
            padding: 0 15px;
        }

        @include media-breakpoint-only(xs) {
            max-width: auto;
            padding: 0 15px;
        }
    }
}

.content {
    padding-top: 80px;
    padding-bottom: 50px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        grid-template-columns: auto auto 1fr;
        padding-top: 50px;
    }
}

.footer {

    >.container {
        margin: 0 auto;

        @include media-breakpoint-only(xxl) {
            max-width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            max-width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            max-width: 960px;
        }

        @include media-breakpoint-only(md) {
            max-width: 720px;
        }

        @include media-breakpoint-only(sm) {
            max-width: auto;
            padding: 0 15px;
        }

        @include media-breakpoint-only(xs) {
            max-width: auto;
            padding: 0 15px;
        }
    }
}

.section {

    >.container {
        margin: 0 auto;

        @include media-breakpoint-only(xxl) {
            max-width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            max-width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            max-width: 960px;
        }

        @include media-breakpoint-only(md) {
            max-width: 720px;
        }

        @include media-breakpoint-only(sm) {
            max-width: auto;
            padding: 0 15px;
        }

        @include media-breakpoint-only(xs) {
            max-width: auto;
            padding: 0 15px;
        }
    }
}