<footer class="footer">
    <div class="container">
        <div class="footer-row-1">
            <div class="col-1">
                <nav class="footer-nav">
                    <ul class="footer-menu">
                        <li class="item active">
                            <a href="production.html" class="link">Production</a>
                        </li>

                        <li class="item">
                            <a href="catalogue.html" class="link">Catalogue</a>
                        </li>

                        <li class="item">
                            <a href="projects.html" class="link">Projects</a>
                        </li>

                        <li class="item">
                            <a href="blog-news.html" class="link">Blog/News</a>
                        </li>

                        <li class="item">
                            <a href="contacts.html" class="link">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-2">
                <ul class="footer-phones">
                    <li class="item">
                        <a href="https://wa.me/380971112233" class="link" target="_blank">+38 (097) 111-22-33</a>
                    </li>
                </ul>
            </div>

            <div class="col-3">
                <ul class="footer-socials">
                    <li class="item">
                        <a href="" class="link">
                            <img src="./img/footer/social/instagram.svg" alt="ig" class="i">
                        </a>
                    </li>

                    <li class="item">
                        <a href="" class="link">
                            <img src="./img/footer/social/youtube.svg" alt="yt" class="i">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-row-2">
            <ul class="footer-languages">
                <li class="item">
                    <a href="en" class="link active">
                        <div class="language-item">
                            <div class="c">
                                <img src="./img/languages/en.png" alt="">
                            </div>

                            <div class="mark"></div>
                        </div>
                    </a>
                </li>

                <li class="item">
                    <a href="ua" class="link">
                        <div class="language-item">
                            <div class="c">
                                <img src="./img/languages/ua.png" alt="">
                            </div>

                            <div class="mark"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-row-3">
            <div class="footer-copyright">
                <span class="domain">pergas-stone.com</span>
                <span class="years">@ 2020-2023</span>
                <span class="rights">All rights reserved</span>
            </div>
        </div>
    </div>
</footer>