.header-columns {
    height: 80px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        grid-template-columns: auto auto 1fr;
        height: 50px;
    }

    .col-1 {}

    .center {}

    .col-2 {
        display: flex;
        justify-content: flex-end;
    }
}

.logo-link {
    display: block;

    img {
        display: block;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            width: 150px;
            height: auto;
        }
    }
}

.main-menu-btn {
    width: 50px;
    height: 50px;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    >.lines {
        width: 15px;
        height: 10px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
            height: 2px;
            background-color: #000000;
        }
    }
}