html,
body {
    margin: 0;
    padding: 0;
}

.website {
    max-width: 1920px;
    min-width: 320px;
    min-height: 100vh;

    margin: 0 auto;

    display: grid;
    grid-template-rows: 1fr auto;
}

.header-fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;

    >.container {
        margin: 0 auto;
        max-width: 1920px;
        min-width: 320px;
    }
}

.header {

    >.container {
        margin: 0 auto;

        @include media-breakpoint-only(xxl) {
            max-width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            max-width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            max-width: 960px;
        }

        @include media-breakpoint-only(md) {
            max-width: 720px;
        }

        @include media-breakpoint-only(sm) {
            max-width: auto;
            padding: 0 15px;
        }

        @include media-breakpoint-only(xs) {
            max-width: auto;
            padding: 0 15px;
        }
    }
}

.footer {

    >.container {
        margin: 0 auto;

        @include media-breakpoint-only(xxl) {
            max-width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            max-width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            max-width: 960px;
        }

        @include media-breakpoint-only(md) {
            max-width: 720px;
        }

        @include media-breakpoint-only(sm) {
            max-width: auto;
            padding: 0 15px;
        }

        @include media-breakpoint-only(xs) {
            max-width: auto;
            padding: 0 15px;
        }
    }
}